/* ========== IMPORTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* ========== ROOT ========== */
:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --text: #ffffff;
  --text-p: #eeeeee;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* ========== RESET ========== */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* ========== BASE ========== */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 3rem;
  font-size: 1.9rem;
  color: var(--text);
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

/* ========== HEADER ========== */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--text);
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons {
  display: flex;
  color: var(--text);
  cursor: pointer;
  font-size: 2.5rem;
}

.header .icons svg {
  margin-left: 2rem;
}

.header .icons svg:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

/* ---------- SEARCH-FORM ---------- */
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--text);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form svg {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form svg:hover {
  color: var(--main-color);
}

/* ---------- CARTS-ITEMS ---------- */
.header .cart-items-content {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: var(--text);
  padding: 0 1.5rem;
}

.header .cart-items-content.active {
  right: 0;
}

.header .cart-items-content .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-content .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-content .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-content .cart-item img {
  height: 7rem;
}

.header .cart-items-content .cart-item .content h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.header .cart-items-content .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-content .btn {
  width: 100%;
  text-align: center;
}

/* ========== MAIN ========== */
/* __________ HOME __________ */
.main .home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url('../img/home-img.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main .home .content {
  max-width: 60rem;
}

.main .home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--text);
}

.main .home .content p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: var(--text-p);
}

/* __________ ABOUT __________ */
.heading {
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--main-color);
}

.main .about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.main .about .row .image {
  flex: 1 1 45rem;
}

.main .about .row .image img {
  width: 100%;
}

.main .about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.main .about .row .content h3 {
  font-size: 3rem;
  color: var(--text);
}

.main .about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
  text-align: justify;
}

/* __________ MENU __________ */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: #fff;
}

.menu .box-container .box:hover > * {
  color: var(--black);
}

/* __________ PRODUCTS __________ */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.products .box-container .box .icons svg {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  padding: 1rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .box-container .box .icons svg:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2.5rem;
}

.products .box-container .box .content .stars {
  padding: 2.5rem;
}

.products .box-container .box .content svg {
  font-size: 2rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: #fff;
  font-size: 2.5rem;
}

.products .box-container .box .content span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
}

/* __________ REVIEW __________ */
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
  text-align: justify;
}

.review .box-container .box .user {
  height: 12rem;
  width: 12rem;
  border: 5px outset var(--main-color);
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.review .box-container .box .stars svg {
  font-size: 2rem;
  color: var(--main-color);
}
/* ========== FOOTER ========== */
/* __________ PRODUCTS __________ */
/* ========== RESPOSIVE ========== */
/* media screen 1024px descktop */
@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

/* media screen 768px tablet */
@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--text);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .main .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .main .home .content h3 {
    font-size: 4.5rem;
  }

  .main .home .content p {
    font-size: 1.5rem;
  }
}
/* media screen 425px smathphone */
@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
